@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600&family=Nosifer&family=Open+Sans:wght@300;700&display=swap');

*{
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Nosifer', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    text-decoration: none; }

nav{
    margin-bottom: 0;
}

main {
    background-color:rgb(199, 196, 196);
    padding-top: 20px;
    min-height: 100vh;
}
 .cuerpo{
    padding-left: 15px;
 }
body h1{
    color: white;
}

body h3 {
    text-decoration: underline;
}

.mayor{
    color: white;
}     

.nav {
    margin-bottom: 0; /* Eliminar margen inferior del navbar */
  }

.card-deck .card {
    margin-bottom: 0; 
  }
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.card-img-top {
    max-width: 30%; 
    height: auto; 
  }

.card-img-top {
  max-width: 100%; 
  max-height: 350px; 
  object-fit: contain;
}

/* .card-title {
    text-align: center;
}

.card-text {
    text-align: center;
} */

.grid-container {
    padding: 2px;
    background-color: rgb(164, 164, 164);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.grid-container .grid-item {
    background-color: beige;
    border: 1px solid black;
    padding: 10px;
    display: block;
}

.grid-container .grid-item h3 {
    text-align: center;
}

.grid-container .grid-item2 {
    background-color:antiquewhite;
    border: 1px solid black;
    padding: 10px; 
}

.grid-container .grid-item .prueba {
    border: 1px solid black;
    justify-content: center;
    justify-content: center;
}

.grid-container .grid-item2 h3 {
    text-align: center;
}

.grid-container .grid-item2 div img {
    border: 1px solid black;
    justify-items: center; 
    align-items: center;
}

.grid-container .grid-item2 p {
    padding: 5px;
}

#flex {
    display: grid;
    grid-template-columns: 1fr;

}

#flex .flex-img img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(7, 7, 7);
}

#degustaciones {
    width: 100%;
    max-width: 1220px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#degustaciones .degustaciones-img img {
    width: 550px;
    height: auto;
    padding-right: 30px;
}

#degustaciones .degustaciones-opc a {
    background-color: rgb(43, 42, 42);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 25px;
    text-transform: uppercase;
    color: rgb(234, 234, 243);
    max-width: 240px;
    width: 100%;
    text-align: center;
}

#degustaciones .degustaciones-opc a:hover {
    background-color: rgba(0, 81, 230, 0.501);
}

@media (max-width: 768px) {
    #degustaciones {
        flex-direction: column-reverse;
        padding-top: 15px;
    }
    #degustaciones .degustaciones-img img {
        width: 100%;
        height: auto;
        padding-top: 15px;
    }

}




/* Estilos para el footer */
footer.bd-footer {
    background-color: #f8f9fa; /* Cambia el color de fondo del footer según tu preferencia */
}

/* Estilos para el fondo negro */
.bg-black {
    background-color: black;
}

/* Estilos para el texto del footer */
footer.bd-footer p {
    color: white;
    margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para el centrado del contenido */
footer.bd-footer .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Ajusta la altura deseada */
}

/* Alineación del contenido */
footer.bd-footer .justify-content-lg-start {
    margin-left: 40px;
}

/* Ajuste de márgenes */
footer.bd-footer .px-3 {
    margin-left: 40px;
    margin-right: 40px;
}
