@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nosifer&family=Open+Sans:wght@300;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
   /*  font-family: 'Montserrat', sans-serif;
    font-family: 'Nosifer', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}

/* INDEX */

.index_background {
    background-image: url('../img/back.jpeg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
} 

.flexCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexCont .flex_logo {
    width: 100%;
    max-width: 170px;
    height: auto;
}

.flexCont .flex_logo img {
    padding: 40px 0px 80px;
    width: 100%;
    height: auto;
}

.flex_disclaimer {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0px 0px 30px;
    text-align: center;
}
.flex_disclaimer_q #question {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0px 0px 30px;
    text-align: center;
}

 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight:1,500;
    color: #f3f2ee;
    padding: 15px;
    justify-items: center;
    padding: 25px;
}

#question {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    font-style: italic;
    text-align: center;
    font-weight: 900;
    color: #f3f2ee;
}

.flex_btn {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
}

.flex_btn .botones a {
    background-color: #343a40;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1,300;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #f3f2ee;
    max-width: 400px;
    width: 100%;
} 

.flex_btn .botones a:hover {
    background-color: #e78c3b;
}


/* FOOTER */

footer {
    background-color:#212529 /* #343a40 */;
    color: white; 
}

.foot_info {
    width: 100%;
    /* margin: 0; */
    display: flex;
    justify-content: center;
}

.disclaimer_foot p {
    text-align: center;
    padding: 10px 0px 0px;
}

/* RRSS */

/* .cont_rrss{
    background-color: #343a40;
    width: 100%;
    height: auto;
}

.cont_follow {
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.cont_rrss .cont_follow img{
    width: 100%;
    height: auto;
}

.cont_rrss .cont_follow svg{
    width: 65px;
    height: auto;
    gap: 30px;
    color: #f3f2ee;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

/* FRASES VINO */

.nuestros_vinos {
    background-color: #f3f2ee;
    width: 100%;
    padding: 20px;
    color: #e78c3b;
    padding: 40px;
}

@media (min-width:425px) and (max-width:800px)
{
    .nuestros_vinos {
        background-color: #f3f2ee;
        color: #e78c3b;
        text-align: center;
    }
}

.nuestros_vinos h1{
    font-family:'Montserrat';
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 1,500;
    text-align: center;
    justify-items: center;  
    align-items: center; 
}

.vinos {
    background-image: url('../img/C1.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 80px;
}

@media (min-width:425px) and (max-width:800px)
{
    .vinos {
    background-image: url('../img/C1.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
}

.vinos h2{
    font-family:'Montserrat';
    font-size: 35px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 1,600;
    text-align: start;
    justify-items: start; 
    align-items: start; 
    color: #f3f2ee;
}

.vinos p{
    font-family:'Montserrat';
    text-align: start;
    justify-items: start; 
    align-items: start; 
    color: #f3f2ee;
    padding: 0px;
}

.flex_btn_vinos {
    display: flex;
    flex-direction:row;
    justify-content: start;
    gap: 10px;
}

.flex_btn_vinos .botones_v a {
    background-color: transparent;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 1,300;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid #f3f2ee;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #f3f2ee;
    max-width: 400px;
    width: 100%;
} 

.flex_btn_vinos .botones_v a:hover {
    background-color: #e78c3b;
    color: #f3f2ee;
    border: 1px solid #e78c3b;
}

.cont_bodega {
    background-color: #f3f2ee;
    width: 100%;
    padding: 80px;
}

@media (min-width:425px) and (max-width:800px)
{
    .cont_bodega {
    background-color: #f3f2ee;
    }
}

.cont_bodega h3{
    font-family:'Montserrat';
    font-size: 25px;
    font-style: italic;
    font-weight: 1,600;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #343a40;
}

.cont_bodega a{
    color:#e78c3b;
    text-decoration: none;
}

.cont_bodega a:hover {
    font-size: 27px;
    cursor: pointer;
    text-decoration: underline;
}

/* CONTACTO */

.cont_contacto{
    background-image: url('../img/C3.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 90px;
}

@media (min-width:425px) and (max-width:800px)
{
    .cont_contacto{
    background-image: url('../img/C3.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
}

.cont_contacto h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;
}

.cont_contacto p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;
    padding: 0px;
}

/* FORM */

.contact_form{	
	width: 1fr; 
    height: auto;
	padding-top: 20px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    justify-content: center;
    text-align: center;
}

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #e78c3b;
}

textarea{
    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #e78c3b; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

.contact_form button{
	height: 40px; 
    width: 210px;		
	text-transform: uppercase;
	background-color: #e78c3b; 
	border-color: #e78c3b; 
	border-style: solid; 
	border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat';
}

.contact_form button p{
	color: #f3f2ee;
    padding: 10px;
}

span{
	color: #e78c3b; 
}

.aviso{
	font-size: 13px;  
	color: #212529;  
}

.contact_form p{
	font-size: 14px; 
	color: #212529; 
}

/* INFO CONTACTO */

.cont_infoc{
    background-color: #f3f2ee;
    display: flex;
    flex-direction:row;
    flex-basis:0;
    flex-grow: 1;
}

.cont_info {
    background-color: aqua;
    display: flex;
    flex-grow: 1;
    flex-basis:0;
    border: 1px solid black;
    text-align: center;
    justify-content: center;

}

@media (min-width:125px) and (max-width:800px)
{
    .cont_info{
        background-color: rgb(225, 255, 0);
        display: flex;
        flex-grow: 1;
        width: 100%;
        border: 1px solid black;
        text-align: center;
        justify-content: center;
    }
}

.cont_info h3{
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;
} 

.cont_info p{
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;

}

.container-fluid {
    color: #f3f2ee;
    /* background-color: var(--bs-gray-900); */
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.row{
    background-color: var(--bs-gray-800);
}

.container-fluid p {
    color: #e78c3b;
    font-size: 18px;
    padding-top: 3px;
}

.container-fluid p a{
    color: #e78c3b;
    font-size: 20px;
    text-decoration: none;
}

.container-fluid p a:hover{
    color: #f3f2ee;
    font-size: 24px;
    cursor: pointer;
    text-decoration: underline;
}

.container-fluid h2 a i{
    color: #f3f2ee;
    text-decoration: none;
    font-size: 55px;  
}

.container-fluid h2 a i:hover{
    color: #e78c3b;
    cursor: pointer;
    font-size: 65px;
}

#mapa{
    padding-top: 20px;
}

.cont_labodega{
    background-image: url('../img/labodega1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 90px;
}

@media (min-width:425px) and (max-width:800px)
{
    .cont_labodega{
    background-image: url('../img/labodega1.png');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
}

.cont_labodega h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;
}

.cont_labodega p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;
    padding: 0px;
}

.nuestra_bodega {
    background-color: #f3f2ee;
    width: 100%;
    padding: 40px 40px 40px 0px;
}

@media (min-width:425px) and (max-width:800px)
{
    .nuestra_bodega {
        background-color: #f3f2ee;
        font-size:16px;
        color: #343a40;
        font-weight: 1,500;
        text-align: center;
        justify-items: center;  
        align-items: center;
        line-height: 40px;
        padding: 20px;
    }
}

.nuestra_bodega h2{
    font-family:'Montserrat';
    font-size:20px;
    color: #343a40;
    font-weight: 1,500;
    text-align: center;
    justify-items: center;  
    align-items: center; 
    line-height: 40px;  
}


.terroir {
    background-image: url('../img/Terroir.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 80px;
}

@media (min-width:425px) and (max-width:800px)
{
    .terroir {
    background-image: url('../img/C1.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
}

.terroir h2{
    font-family:'Montserrat';
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 1,600;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;
}

.terroir p{
    font-family:'Montserrat';
    text-align: center;
    justify-items: center; 
    align-items: center; 
    font-weight: 400;
    font-size: 20px;
    color: #f3f2ee;
    padding: 0px;
}

.flex_btn_terroir {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
}

.flex_btn_terroir .botones_t a {
    background-color: transparent;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 1,300;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid #f3f2ee;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #f3f2ee;
    max-width: 400px;
    width: 100%;
} 

.flex_btn_terroir .botones_t a:hover {
    background-color: #e78c3b;
    color: #f3f2ee;
    border: 1px solid #e78c3b;
}

.botella{
    display: flex;
    background-color:#f3f2ee;
    flex-direction: column;
    padding-top: 0px;
    align-items: center;
}

.botella h3{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    color: #e78c3b;
    font-style: italic;
    padding-top: 22px;
}

.botella img{
    width: 100%;
    max-width: 450px;
}

.nuestra_bodega2 {
    background-color: #f3f2ee;
    width: 100%;
    padding: 40px 40px 40px 0px;
}

@media (min-width:425px) and (max-width:800px)
{
    .nuestra_bodega2 {
        background-color: #f3f2ee;
        font-size:16px;
        color: #343a40;
        font-weight: 1,500;
        text-align: center;
        justify-items: center;  
        align-items: center;
        line-height: 40px;
        padding: 20px;
    }
}

.nuestra_bodega2 h3{
    font-family:'Montserrat';
    font-size:20px;
    color: #343a40;
    font-weight: 1,500;
    text-align: center;
    justify-items: center;  
    align-items: center; 
    line-height: 40px;  
}

.portfoliov{
    display: flex;
    
}
