.contact_form{	
	width: 1fr; 
    height: auto;
	padding-top: 20px;
    padding-bottom: 20px;  
    background-color: $blanco; 
    justify-content: center;
    text-align: center;
& button{
height: 40px; 
width: 210px;		
text-transform: uppercase;
background-color: $naranja; 
border-color: $naranja; 
border-style: solid; 
border-radius: 10px;
cursor: pointer;
font-family: 'Montserrat';
p{
    color: $blanco;
    padding: 10px; 
 }
    }
    span{
        color: $naranja; 
    }
    .aviso{
        font-size: 13px;  
        color: $negro;  
    }
& p{
    font-size: 14px; 
    color: $negro; 
    }
}

input{
    background-color: $blanco; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $naranja;
}
textarea{
    background-color: $blanco; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $naranja; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

.container-fluid {
    color: $blanco;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    .row{
        background-color: var(--bs-gray-800);
    }
    p{
    color: $naranja;
    font-size: 18px;
    padding-top: 3px;
    a{
    color: $naranja;
    font-size: 20px;
    text-decoration: none;
    transition: all .5s;
    &:hover{
        color: $blanco;
        font-size: 24px;
        cursor: pointer;
        text-decoration: underline;   
    }
    }
    }
    .col-lg-3{
        .p-0{
            .img-fluid {
                max-width: 100%;
                max-height: 100%;
                justify-content: center;
                justify-items: center;
                align-items: center;
                align-content: center;
                text-align: center;
                }
        }
    }
    h2{
        a{
            i{
                color: $blanco;
                text-decoration: none;
                font-size: 55px;
                transition: all .5s;
                &:hover{
                    color: $naranja;
                    cursor: pointer;
                    font-size: 65px;
                }
            }
        }
    }
    h3{
        padding-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
        justify-items: center; 
        align-items: center; 
        color: $blanco;
    }
}