.grid-container {
    display: grid;
    position: relative;
    padding: 10px 3% 0px 3%;
    width: 100%;
    height: 70vh;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 1%;
    .grid-labodega{
        overflow: hidden;
        position: relative;
        display: inline-block;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
        h3{
            top: 50%;
            left: 47%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            color: $blanco;
            text-shadow: 3px 1px 2px $negro;
            position: absolute;
            font-size: 1.8rem;
            font-style: italic;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
                text-decoration: none;
                /* transition: all .5s;
                &:hover{
                    font-size: 2rem;
                    cursor: pointer;
                    text-decoration: underline;
                    text-shadow: 4px 3px 9px $blanco; */
                } 
        }
    .grid-experiencias{
        overflow: hidden;
        position: relative;
        display: inline-block;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
        h3{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            color: $blanco;
            text-shadow: 3px 1px 2px $negro;
            position: absolute;
            font-size: 1.8rem;
            font-style: italic;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
                /* transition: all .5s;
                &:hover{
                    font-size: 2rem;
                    cursor: pointer;
                    text-decoration: underline;
                    text-shadow: 4px 3px 9px $blanco;
                }  */
        }
        }
    .grid-ubicacion{
        overflow: hidden;
        position: relative;
        display: inline-block;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
        h3{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            color: $blanco;
            text-shadow: 3px 1px 2px $negro;
            position: absolute;
            font-size: 1.8rem;
            font-style: italic;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
               /*  transition: all .5s;
                &:hover{
                    font-size: 2rem;
                    cursor: pointer;
                    text-decoration: underline;
                    text-shadow: 4px 3px 9px $blanco; */
                } 
        }
    }

.grid-container.hover01{
    .grid-experiencias{
             img {
            transform: scale(1);
            transition: 0.1s ease-in-out;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .grid-labodega{
            img {
            transform: scale(1);
            transition: 0.1s ease-in-out;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .grid-ubicacion{
        img {
        transform: scale(1);
        transition: 0.1s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
}
}