nav{
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    font-weight: 600;
    text-shadow: 1px 1px 4px $blanco;
    background-color: transparent;
    #list{
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            a{
                position: relative;
                color: $negro;
                font-size: 16px;
                padding: 7px 13px;
                transition: all .5s;
                text-decoration: none;
                &:hover{
                    font-size: 18px;   
                    text-decoration: underline;
                 }
            }
        }
    }
    &.abajo{
        background-color: $blanco;
        padding: 30px 50px;
        ul li a{
            color: $negro;
        }
    }
}

.checkbtn{
    font-size: 30px;
    color: $negro;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}