.bannerpic_pages{
    display: flex;
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../img/labodega_banner.jpeg);
        background-size: cover;
        background-position: center;
        justify-content:center ;
        align-items: center center;
        flex-direction: column;
        p {
            font-family: "Montserrat", sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            justify-items: center;
            align-items: center;
            color: #f3f2ee;
            padding: 5px;
            text-shadow: 1px 1px 4px #292927;
          }
          h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            justify-items: center;
            align-items: center;
            color: #f3f2ee;
            letter-spacing: 5px;
            text-shadow: 1px 1px 4px #292927;
          }
}

.nuestra_bodega2 {
    background-color: $blanco;
    width: 100%;
    padding: 40px 40px 40px 0px;
    h3{
        font-family:'Montserrat';
        font-size:20px;
        color: #343a40;
        font-weight: 1,500;
        text-align: center;
        justify-items: center;  
        align-items: center; 
        line-height: 40px; 
    }
}

.terroir {
    background-image: url('../img/Terroir.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 80px;
    h2{
        font-family:'Montserrat';
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 1,600;
        text-align: center;
        justify-items: center; 
        align-items: center; 
        color: #f3f2ee;
    }
    p{
        font-family:'Montserrat';
        text-align: center;
        justify-items: center; 
        align-items: center; 
        font-weight: 400;
        font-size: 20px;
        color: #f3f2ee;
        padding: 0px;
    }
}

.flex_btn_terroir {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
    .botones_t{
        a{
            background-color: transparent;
            align-items: center;
            font-family: 'Montserrat';
            font-size: 15px;
            font-weight: 1,300;
            padding: 10px 20px;
            display: inline-block;
            margin-top: 5px;
            border-radius: 20px;
            border: 1px solid #f3f2ee;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: #f3f2ee;
            max-width: 400px;
            width: 100%; 
            &:hover{
                background-color: #e78c3b;
                color: #f3f2ee;
                border: 1px solid #e78c3b;
            }
        }
    }
}

.nuestra_bodega {
    background-color: #f3f2ee;
    width: 100%;
    padding: 40px 40px 40px 0px;
    h2{
        font-family:'Montserrat';
        font-size:20px;
        color: #343a40;
        font-weight: 1,500;
        text-align: center;
        justify-items: center;  
        align-items: center; 
        line-height: 40px;  
    }
}

.botella{
    display: flex;
    background-color:#f3f2ee;
    flex-direction: column;
    padding-top: 0px;
    align-items: center;
    h3{
        font-family:'Montserrat', sans-serif;
        font-size: 20px;
        color: #e78c3b;
        font-style: italic;
        padding-top: 22px;
    }
    img{
        width: 100%;
        max-width: 450px;
    }
}

.cont_labodega{
    background-image: url('./img/labodega_banner.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 90px;
}