@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nosifer&family=Open+Sans:wght@300;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

$nav_heihgt: 80px;
$negro: #151112;
$crema: #f2cfb3;
$gris: #f5f4f2;
$blanco: white;
$bordo: #581b20;
$naranja: #f3ae73;

/* @import 'footer';
@import 'header';
@import 'media';
@import 'index';
@import 'grid_home';
@import 'homeSt';
@import 'labodegaSt'; */

@mixin  banners-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;}

@mixin banners-p{
font-family: 'Montserrat', sans-serif;
text-align: center;
justify-items: center; 
align-items: center; 
color: #f3f2ee;
padding: 0px;}

@mixin banner_pic ($picback){
        display: flex;
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: $picback;
        background-size: cover;
        background-position: center;
        justify-content:center ;
        align-items: center center;
        flex-direction: column;
        h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 2em;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            justify-items: center;
            align-items: center;
            color: #f3f2ee;
            padding: 5px;
            text-shadow: 1px 1px 4px #292927;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            justify-items: center;
            align-items: center;
            color: #f3f2ee;
            letter-spacing: 5px;
            text-shadow: 1px 1px 4px #292927;
          } 
}
@mixin banner_pic_pages ($picback){
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: $picback;
    background-size: cover;
    background-position: center;
    justify-content:center ;
    align-items: center center;
    flex-direction: column;
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        justify-items: center;
        align-items: center;
        color: #f3f2ee;
        padding: 5px;
        text-shadow: 1px 1px 4px #292927;
      }
      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 4em;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        justify-items: center;
        align-items: center;
        color: #f3f2ee;
        letter-spacing: 5px;
        text-shadow: 1px 1px 4px #292927;
      } 
}

/* FOOTER */
.foot{
    display: flex;
    min-height: 100%;
    background-color: transparent;  
    flex-direction: column;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-top: 20px;
    .foot_info {
        display: flex;
        justify-content: center;
        background-color: $blanco;
        color: $negro;
        text-align: center;
        font-size: 1.1em;
        width: 100%;
        .disclaimer_foot p {
            color: $negro;
            font-size: small;
            text-align: center;
            padding: 10px 0px 0px;
            font-style: italic;
          }
        }
}

.rrss{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: #fdf5f1;
    min-height: 100px;
    padding: 20px 50px;
    flex-direction: column;
    .logofoot{
        text-align: center;  
        img{
            /* width: 100%;
            max-width: 150px; */
            width: 7em;
            margin-bottom: 5px;
        } 
    }
} 


.rrss .iconos, .rrss .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    flex-wrap: wrap;
    text-align: center;
    li{
        list-style: none;
    }
}

.rrss .iconos li a{
    font-size: 2.5em;
    color: #212529;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.rrss .menu li a{
    font-size: medium;
    font-weight: 500;
    color: black;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.65;
    transition: 0.5s;

}

.rrss .iconos li a:hover{
    transform: translateY(-7px);
}

.rrss .menu li a:hover{
    opacity: 1;
    transform: translateY(-7px);
}

/* HEADER */
nav{
    /* background-color:#f5f4f2; */
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    font-weight: 500;
    text-shadow: 2px 1px 0px $blanco;
    background-color: transparent;
    #list{
        display: flex;
        justify-content: center; 
        li{
            list-style: none;
            a{
                position: relative;
                color: $negro;
                font-size: 16px;
                padding: 7px 13px;
                transition: all .5s;
                &:hover{
                    font-size: 18px;   
                    text-decoration: underline;
                 }
            }
        }
    }
    &.abajo{
        background-color: $blanco;
        padding: 30px 50px;
        ul li a{
            color: $negro;
        }
    }
}

.checkbtn{
    font-size: 30px;
    color: $negro;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


/* HOME HOME */

.bannerpic {
    @include banner_pic(url(../img/home_banner.jpg));
}
/* HOME INFO */
.home_info {
background-color: $gris;
width: 100%;
padding: 80px;
h2{
    font-family:'Montserrat';
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: $negro;
}
a{
    color: $naranja;
    text-decoration: none;
    transition: all .5s;
    &:hover{
        font-size: 26px;
        cursor: pointer;
        text-decoration: underline;
    }    
}
}

/* HOME VINOS */

.home_vinos {
background-image: url('../img/home_vinos.jpg');
background-position: inherit;
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
width: 100%;
padding: 80px;
h3{
    font-family:'Montserrat';
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    text-align: start;
    justify-items: start; 
    align-items: start; 
    color: $blanco;
}
p{
    font-family:'Montserrat';
    text-align: start;
    justify-items: start; 
    align-items: start; 
    color: $blanco;
    padding: 0px;
    text-shadow: 1px 1px 4px #292927;
}
}

.home_btn_vinos {
display: flex;
flex-direction:row;
justify-content: start;
gap: 10px;
.btn_vinos a {
    background-color: transparent;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 1,300;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid $blanco;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $blanco;
    max-width: 400px;
    width: 100%;
    &:hover{
        background-color: $naranja;
        color: $blanco;
        border: 1px solid $naranja;
    }
}
}

/* HOME NUESTROS VINOS */

.home_nuestros_vinos {
background-color: $blanco;
width: 100%;
padding: 20px;
color: $naranja;
padding: 40px;
h4{
    font-family:'Montserrat';
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    justify-items: center;  
    align-items: center; 
}
}

.grid-container {
    display: grid;
    position: relative;
    padding: 10px 3% 0px 3%;
    width: 100%;
    grid-template-columns:  1fr 1fr;
    justify-content: center;
    justify-items: center;
    .grid-item {
        text-align: center;
        box-shadow: 5px 8px 12px $negro;
        img{
            width: 100%;
            height: 100%
        }
        }
        .grid-item.exp {
            background-image: url('../img/home_bodega.jpeg') ;
            background-position:center;
            background-size:cover;
            background-repeat: no-repeat;
            width: 90%;  
            height: 600px;
            grid-column: 1/2;
            .btn_home {
                cursor: pointer;
                background-color: transparent;
                height: 100%;
                width: 100%;
                text-decoration: none;
                display: flex;
                flex-direction:column;
                justify-content: start;
                border: none;
            h3{
                font-family:'Montserrat';
                font-size: 30px;
                font-style: italic;
                text-transform: uppercase;
                font-weight: 600;
                color: $negro;
                text-shadow: 1px 1px 4px $blanco;
                margin-top: 25px;
                text-decoration: none;
                }
            p{
                font-family:'Montserrat';
                color: $negro;
                padding: 0px 0px 0px 20px;
                text-shadow: 1px 1px 4px $blanco;
                font-size: 20px;
            }
            }
        }
        }
        .grid-item.con {
            background-image: url('../img/home_exp.jpg') ;
            background-position:center;
            background-size:cover;
            background-repeat: no-repeat;
            width: 90%;  
            height: 600px;
            grid-column: 2/3;
          .btn_home {
            cursor: pointer;
            border: none;
            background-color: transparent;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction:column;
            justify-content: start;
            h3{
                font-family:'Montserrat';
                font-size: 30px;
                font-style: italic;
                text-transform: uppercase;
                font-weight: 600;
                color: $negro;
                text-shadow: 1px 1px 4px $blanco;
                margin-top: 25px;
                }
            p{
                font-family:'Montserrat';
                color: $negro;
                padding: 0px 0px 0px 20px;
                text-shadow: 1px 1px 4px $blanco;
                font-size: 20px;
            }
        }
        }

.btn_home{
     a{
        text-decoration: none;
    }
}

/* INDEX */

.index_background{
    background-image: url('../img/index_back.jpeg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;  
}

.flexCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    .flex_logo {
        width: 100%;
        max-width: 170px;
        height: auto;
        img{
            padding: 40px 0px 40px;
            width: 100%;
            height: auto;
        }
    }
}

.flex_disclaimer {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0px 0px 30px;
    text-align: center;
}

#question{
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    font-style: italic;
    text-align: center;
    font-weight: 900;
    color: #f3f2ee;
}


.index_btn {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
    .index_botones{
        a{
        background-color: $negro;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 1,300;
        padding: 10px 20px;
        display: inline-block;
        margin-top: 5px;
        border-radius: 20px;
        text-transform: uppercase;
        text-align: center;
        color: $blanco;
        max-width: 400px;
        width: 100%;
        &:hover{
            background-color: $naranja;
        }
        }
    }
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight:1,500;
    color: $blanco;
    padding: 15px;
    justify-items: center;
    padding: 25px;
}

/* LA BODEGA */

.bannerpic_pages{
    @include banner_pic_pages (url(../img/labodega_banner.jpeg));
}


.nuestra_bodega2 {
    background-color: $blanco;
    width: 100%;
    padding: 40px 40px 40px 0px;
    h3{
        font-family:'Montserrat';
        font-size:20px;
        color: #343a40;
        font-weight: 1,500;
        text-align: center;
        justify-items: center;  
        align-items: center; 
        line-height: 40px; 
    }
}

.terroir {
    background-image: url('../img/Terroir.jpg');
    background-position: inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 80px;
    h2{
        font-family:'Montserrat';
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 1,600;
        text-align: center;
        justify-items: center; 
        align-items: center; 
        color: #f3f2ee;
    }
    p{
        font-family:'Montserrat';
        text-align: center;
        justify-items: center; 
        align-items: center; 
        font-weight: 400;
        font-size: 20px;
        color: #f3f2ee;
        padding: 0px;
    }
}

.flex_btn_terroir {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
    .botones_t{
        a{
            background-color: transparent;
            align-items: center;
            font-family: 'Montserrat';
            font-size: 15px;
            font-weight: 1,300;
            padding: 10px 20px;
            display: inline-block;
            margin-top: 5px;
            border-radius: 20px;
            border: 1px solid #f3f2ee;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: #f3f2ee;
            max-width: 400px;
            width: 100%; 
            &:hover{
                background-color: #e78c3b;
                color: #f3f2ee;
                border: 1px solid #e78c3b;
            }
        }
    }
}

.nuestra_bodega {
    background-color: #f3f2ee;
    width: 100%;
    padding: 40px 40px 40px 0px;
    h2{
        font-family:'Montserrat';
        font-size:20px;
        color: #343a40;
        font-weight: 1,500;
        text-align: center;
        justify-items: center;  
        align-items: center; 
        line-height: 40px;  
    }
}

.botella{
    display: flex;
    background-color:#f3f2ee;
    flex-direction: column;
    padding-top: 0px;
    align-items: center;
    h3{
        font-family:'Montserrat', sans-serif;
        font-size: 20px;
        color: #e78c3b;
        font-style: italic;
        padding-top: 22px;
    }
    img{
        width: 100%;
        max-width: 450px;
    }
}

.cont_labodega{
    background-image: url('./img/labodega_banner.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 90px;
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 55px;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        justify-items: center; 
        align-items: center; 
        color: #f3f2ee;}
        p{
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            justify-items: center; 
            align-items: center; 
            color: #f3f2ee;
            padding: 0px;}
}

/* MEDIA MEDIA */

@media (max-width: 953px){
    nav #list li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: flex;
    }
    nav{
        padding: 0 30px;
        background-color: $blanco;
    }
    #list{
        position: absolute;
        width: 100%;
        height: calc(100vh-#{$nav_heihgt});
        background-color: $blanco;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 20;
    }
    nav #list li{
        margin: 20px 0;
    }
    nav #list li a{
        font-size: 16px;
    }
    li a:hover, li a.active{
        font-size: 18px; 
        text-decoration: underline;
    }
    #check:checked ~#list{
        left: 0;
    }
}

@media (min-width:425px) and (max-width:800px)
{
    .home_info {
    background-color: #f3f2ee;
    }
}

@media (min-width: 425px) and (max-width: 800px) {
    .vinos {
      background-image: url("./img/home_vinos.jpg");
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
}

  @media (min-width:425px) and (max-width:800px)
{
      .vinos {
      background-image: url('./img/home_vinos.jpg');
      background-position: inherit;
      background-size:cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      }
}

  @media (min-width:425px) and (max-width:800px)
{
    .home_nuestros_vinos {
        background-color: $blanco;
        color: $naranja;
        text-align: center;
    }
}

@media (min-width:425px) and (max-width:800px)
{
   .grid-container {
       display: grid;
       position: relative;
       padding: 5px;
       gap: 5px;
       grid-template-columns: 45% 45%;
       .grid-item {
           text-align: center;
           box-shadow: 5px 8px 12px $negro;
           img{
               width: 60%;
               height: 60%
           }
       }

        .grid-item.exp, .grid-item.con {
       width: 95%;  
       height: auto;
       h3{
           font-size: 20px;
           font-style: italic;
           text-transform: uppercase;
           font-weight: 500;
           margin: 10px 0px 0px 10px;
           text-shadow: 1px 1px 4px $blanco;
       }
       p{
           font-size: 14px;
           padding: 0px 0px 0px 10px;
           text-shadow: 1px 1px 4px $blanco;
           font-size: 12px;
       }
       }
   } 
}