@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nosifer&family=Open+Sans:wght@300;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  /*  font-family: 'Montserrat', sans-serif;
   font-family: 'Nosifer', sans-serif;
   font-family: 'Open Sans', sans-serif; */
}

/* INDEX */
.index_background {
  background-image: url("../img/back.jpeg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.flexCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexCont .flex_logo {
  width: 100%;
  max-width: 170px;
  height: auto;
}
.flexCont .flex_logo img {
  padding: 40px 0px 40px;
  width: 100%;
  height: auto;
}

.flex_disclaimer {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 0px 0px 30px;
  text-align: center;
}

#question {
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  font-style: italic;
  text-align: center;
  font-weight: 900;
  color: #f3f2ee;
}

.flex_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.flex_btn .botones a {
  background-color: #343a40;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 1, 300;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #f3f2ee;
  max-width: 400px;
  width: 100%;
}
.flex_btn .botones a:hover {
  background-color: #e78c3b;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 1, 500;
  color: #f3f2ee;
  padding: 15px;
  justify-items: center;
  padding: 25px;
}

/* FOOTER */
/* footer{
    background-color:#212529;
    color: white; 
}*/
.foot_info {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212529;
  color: white;
}
.foot_info .disclaimer_foot p {
  text-align: center;
  padding: 10px 0px 0px;
}

/* CONTACTO */
/* RRSS & INFO */
.container-fluid {
  color: #f3f2ee;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.container-fluid .row {
  background-color: var(--bs-gray-800);
}
.container-fluid p {
  color: #e78c3b;
  font-size: 18px;
  padding-top: 3px;
}
.container-fluid p a {
  color: #e78c3b;
  font-size: 20px;
  text-decoration: none;
}
.container-fluid p a:hover {
  color: #f3f2ee;
  font-size: 24px;
  cursor: pointer;
  text-decoration: underline;
}
.container-fluid h2 a i {
  color: #f3f2ee;
  text-decoration: none;
  font-size: 55px;
}
.container-fluid h2 a i:hover {
  color: #e78c3b;
  cursor: pointer;
  font-size: 65px;
}
.container-fluid h3 {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
}

/* FORMULARIO DE CONTACTO */
.contact_form {
  width: 1fr;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  justify-content: center;
  text-align: center;
}
.contact_form button {
  height: 40px;
  width: 210px;
  text-transform: uppercase;
  background-color: #e78c3b;
  border-color: #e78c3b;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat";
}
.contact_form button p {
  color: #f3f2ee;
  padding: 10px;
}
.contact_form span {
  color: #e78c3b;
}
.contact_form .aviso {
  font-size: 13px;
  color: #212529;
}
.contact_form p {
  font-size: 14px;
  color: #212529;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e78c3b;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e78c3b;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

/* CONTACTO BANNER */
.cont_contacto {
  background-image: url("../img/C3.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 90px;
}
.cont_contacto h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
}
.cont_contacto p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
  padding: 0px;
}

/* LA BODEGA */
/* NUESTRA BODEGA2 */
.nuestra_bodega2 {
  background-color: #f3f2ee;
  width: 100%;
  padding: 40px 40px 40px 0px;
}
.nuestra_bodega2 h3 {
  font-family: "Montserrat";
  font-size: 20px;
  color: #343a40;
  font-weight: 1, 500;
  text-align: center;
  justify-items: center;
  align-items: center;
  line-height: 40px;
}

.terroir {
  background-image: url("../img/Terroir.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 80px;
}
.terroir h2 {
  font-family: "Montserrat";
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 1, 600;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
}
.terroir p {
  font-family: "Montserrat";
  text-align: center;
  justify-items: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: #f3f2ee;
  padding: 0px;
}

.flex_btn_terroir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.flex_btn_terroir .botones_t a {
  background-color: transparent;
  align-items: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 1, 300;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid #f3f2ee;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #f3f2ee;
  max-width: 400px;
  width: 100%;
}
.flex_btn_terroir .botones_t a:hover {
  background-color: #e78c3b;
  color: #f3f2ee;
  border: 1px solid #e78c3b;
}

.nuestra_bodega {
  background-color: #f3f2ee;
  width: 100%;
  padding: 40px 40px 40px 0px;
}
.nuestra_bodega h2 {
  font-family: "Montserrat";
  font-size: 20px;
  color: #343a40;
  font-weight: 1, 500;
  text-align: center;
  justify-items: center;
  align-items: center;
  line-height: 40px;
}

.botella {
  display: flex;
  background-color: #f3f2ee;
  flex-direction: column;
  padding-top: 0px;
  align-items: center;
}
.botella h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #e78c3b;
  font-style: italic;
  padding-top: 22px;
}
.botella img {
  width: 100%;
  max-width: 450px;
}

.cont_labodega {
  background-image: url("../img/labodega1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 90px;
}
.cont_labodega h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
}
.cont_labodega p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
  padding: 0px;
}

/* VINOS */
.vinos {
  background-image: url("../img/contacto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 90px;
}
.vinos h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
}
.vinos p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
  padding: 0px;
}

.portfoliov {
  display: flex;
  background-color: #f3f2ee;
  padding: 70px 100px;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.portfoliov .hover01 img {
  transform: scale(1);
  transition: 0.1s ease-in-out;
}
.portfoliov .hover01 img:hover {
  transform: scale(1.2);
}
.portfoliov img {
  background-color: #f3f2ee;
  margin: 5px;
  padding: 10px 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 400px;
}
.portfoliov h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 22px;
  color: #212529;
}
.portfoliov h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #e78c3b;
}
.portfoliov h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #212529;
}
.portfoliov a {
  font-family: "Montserrat", sans-serif;
  justify-items: center;
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
  color: black;
}
.portfoliov a:hover {
  font-family: "Montserrat", sans-serif;
  justify-items: center;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
  color: #e78c3b;
}

.agotado h4 {
  font-size: 24px;
  border: 2px solid #e78c3b;
  background-color: #e78c3b;
  color: #f3f2ee;
}

.agotado2 {
  text-decoration: line-through;
}

.container_servicios {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto auto auto;
  padding: 7%;
  background-color: #f3f2ee;
  gap: 10px;
}
.container_servicios .servicios {
  background-color: #f3f2ee;
}
.container_servicios .servicios.restoinfo {
  background-color: #f3f2ee;
  color: #343a40;
  text-align: start;
  /*  margin: auto; */
}
.container_servicios .servicios.restoinfo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 7.5vw;
}
.container_servicios .servicios.restoinfo p {
  color: #343a40;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  padding: 0px;
}
.container_servicios .servicios.piclodge {
  grid-column: 1/3;
  grid-row: 2/4;
  text-align: start;
}
.container_servicios .servicios.piclodge img {
  width: 100%;
  max-width: 900px;
}
.container_servicios .servicios.restopic {
  background-color: #f3f2ee;
  grid-column: 3/4; /* Ubicacion actual fila 1  de 3/4 */
  grid-row: 1/3;
}
.container_servicios .servicios.restopic img {
  width: 100%;
}
.container_servicios .servicios.restopic p {
  color: #343a40;
  text-align: center;
}
.container_servicios .servicios.resto {
  background-color: #f3f2ee;
}
.container_servicios .servicios.resto p {
  text-align: center;
  color: #212529;
  padding: 0px;
  margin-top: 20px;
}
.container_servicios .servicios.experienciasu {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #f3f2ee;
  background-color: transparent;
  margin-top: 10px;
  padding-left: 0px;
}
.container_servicios .servicios.experienciasu p {
  padding-left: 0px;
  text-align: start;
  padding: auto 0px;
  color: #212529;
}
.container_servicios .servicios.contacto_exp {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
}
.container_servicios .servicios.contacto_exp a {
  color: #343a40;
  background-color: #f3f2ee;
  border: 2px solid #343a40;
  font-family: "Montserrat", sans-serif;
  display: inline;
  font-size: 18px;
  font-weight: 1, 300;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.container_servicios .servicios.contacto_exp a:hover {
  background-color: #343a40;
  color: #f3f2ee;
}

@media (max-width: 998px) {
  .container_servicios .servicios.restoinfo {
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    padding: 3%;
    background-color: #f3f2ee;
  }
}
@media (max-width: 998px) {
  .container_servicios .servicios.contacto_exp a {
    color: #343a40;
    background-color: #f3f2ee;
    border: 2px solid #343a40;
    font-family: "Montserrat", sans-serif;
    display: inline;
    font-size: 16px;
    font-weight: 1, 300;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  .container_servicios .servicios.contacto_exp a:hover {
    background-color: #343a40;
    color: #f3f2ee;
  }
}
.experiencias_banner {
  background-image: url("../img/home2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 90px;
}
.experiencias_banner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
}
.experiencias_banner p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f3f2ee;
  padding: 0px;
}

.nuestros_vinos {
  background-color: #f3f2ee;
  width: 100%;
  padding: 20px;
  color: #e78c3b;
  padding: 40px;
}
.nuestros_vinos h1 {
  font-family: "Montserrat";
  font-size: 23px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 1, 500;
  text-align: center;
  justify-items: center;
  align-items: center;
}

@media (min-width: 425px) and (max-width: 800px) {
  .nuestros_vinos {
    background-color: #f3f2ee;
    color: #e78c3b;
    text-align: center;
  }
}
.vinos2 {
  background-image: url("../img/C1.jpg");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 80px;
}
.vinos2 h2 {
  font-family: "Montserrat";
  font-size: 35px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 1, 600;
  text-align: start;
  justify-items: start;
  align-items: start;
  color: #f3f2ee;
}
.vinos2 p {
  font-family: "Montserrat";
  text-align: start;
  justify-items: start;
  align-items: start;
  color: #f3f2ee;
  padding: 0px;
}

@media (min-width: 425px) and (max-width: 800px) {
  .vinos {
    background-image: url("../img/C1.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.flex_btn_vinos {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}
.flex_btn_vinos .botones_v a {
  background-color: transparent;
  align-items: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 1, 300;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid #f3f2ee;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #f3f2ee;
  max-width: 400px;
  width: 100%;
}
.flex_btn_vinos .botones_v a:hover {
  background-color: #e78c3b;
  color: #f3f2ee;
  border: 1px solid #e78c3b;
}

.cont_bodega {
  background-color: #f3f2ee;
  width: 100%;
  padding: 80px;
}
.cont_bodega h3 {
  font-family: "Montserrat";
  font-size: 25px;
  font-style: italic;
  font-weight: 1, 600;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #343a40;
}
.cont_bodega a {
  color: #e78c3b;
  text-decoration: none;
}
.cont_bodega a:hover {
  font-size: 27px;
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 425px) and (max-width: 800px) {
  .cont_bodega {
    background-color: #f3f2ee;
  }
}/*# sourceMappingURL=main.css.map */