@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nosifer&family=Open+Sans:wght@300;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

$nav_heihgt: 80px;
$negro: #151112;
$crema: #f2cfb3;
$gris: #f5f4f2;
$blanco: white;
$bordo: #581b20;
$naranja: #f3ae73;

@import 'footer';
@import 'header';
@import 'media';
@import 'index';
@import 'grid_home';
@import 'homeSt';
@import 'labodegaSt';

@mixin  banners-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    color: #f3f2ee;}

@mixin banners-p{
font-family: 'Montserrat', sans-serif;
text-align: center;
justify-items: center; 
align-items: center; 
color: #f3f2ee;
padding: 0px;}

@mixin banner_pic ($picback){
    .bannerpic {
        display: flex;
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: $picback;
        background-size: cover;
        background-position: center;
        justify-content:center ;
        align-items: center center;
        flex-direction: column;
        h1 {
            font-family: "Montserrat", sans-serif;
            font-size: 2em;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            justify-items: center;
            align-items: center;
            color: #f3f2ee;
            padding: 5px;
            text-shadow: 1px 1px 4px #292927;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            justify-items: center;
            align-items: center;
            color: #f3f2ee;
            letter-spacing: 5px;
            text-shadow: 1px 1px 4px #292927;
          }    }
}